.pillar-symbol-1 {
    border-top: 3px solid white;
    display: block;
    text-align: center; /* horizontal centering */
    line-height: 1px; /* vertical centering */
    height: 1px; /* gap between the lines */
    border-width: 1px 0; /* top and bottom borders */
    border-style: solid;
    border-color: white;
    margin: 20px 10px; /* 20px space above/below, 10px left/right */
    overflow: visible;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

.pillar-symbol-1::before {
    color: white;
    display: inline; /* for vertical centering and background knockout */
    background-color: var(--main-bg-color); /* same as background color */
    padding: 0 0.5em; /* size of background color knockout */
    background-clip: padding-box;
    border: 8px solid
    #f6f4f2;
    border-radius: 50%;
    color:
    #fff;
    font-size: 26px;
    padding: 12px;
    position: relative;
    top: -15px;
}