{% extends "base.html" %} {% block content %}

<div id="particles-js"></div>

<div class="jumbotron text-center">
  <h1 class="display-4" id="jumbo-text">
    Freelance Digital Services
    <!-- <span style="display:inline;position:relative;font:inherit;color:inherit;line-height:inherit;" class="ti-wrapper"> -->
    <!-- <span style="display:inline;position:relative;font:inherit;color:inherit;line-height:inherit;" class="ti-container">Software Company in Newcastle Australia</span> -->
    <!-- <span style="display:inline;position:relative;font:inherit;color:inherit;line-height:inherit;left: -.25ch;" class="ti-cursor">|</span></span> -->
  </h1>
  <h4>We specialise in:</h4>
  <!-- <h2> Our Services</h2> -->
  <p class="type-services" id="services-text">alt_services</p>
  <a class="btn btn-lg contact" href="/contact" role="button" id="contact-btn"
    >Contact Us</a
  >
</div>

<div class="top-div"></div>
<div class="container-fluid services-div">
  <div class="container">
    <div class="row justify-content-center">
      <h2>About</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <i class="fas fa-users"></i>
        <!-- <span class="pillar-symbol-1"></span> -->
        <h2 class="home-column-title" itemprop="headline">
          Strategy &amp; Consulting
        </h2>
        <p>
          <strong>
            Everything extraordinary starts with a clear, comprehensive
            plan.
          </strong>
        </p>
        <p>
          Tap our knowledge, our toolbox of proven strategies, and our years of
          experience with consulting services that deliver the results you want,
          and the solutions you need. We've seen what works (and what doesn't),
          and can help accelerate your success.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-cogs"></i>
        <h2 class="home-column-title" itemprop="headline">
          Design &amp; Development
        </h2>
        <p>
          <strong
            >As geeky but fun nerds, we love design, branding, code, and
            WordPress.</strong
          >
        </p>
        <p>
          We ensure that when you show up people take notice. From logos and
          marketing materials to websites and information products, we provide
          extraordinary design backed up with pixel perfect code that looks
          incredible on screens and devices of all sizes.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-headset"></i>
        <h2 class="home-column-title" itemprop="headline">
          Training &amp; Support
        </h2>
        <p>
          <strong
            >Get the extra help you need, and get it done right, on time, and in
            budget.</strong
          >
        </p>
        <p>
          Our ongoing partnerships turn our team into your very own in-house
          support team who is on hand when you need it most. From website
          maintenance, backups, and updates, to hands-on training and graphic
          design services, we're here to give you peace of mind.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bottom-div"></div>

<div class="container">
  <div class="row justify-content-center">
    <h2>Our Services</h2>
  </div>
  <div class="row d-flex">
    <div class="col-sm-6 col-md-6">
      <img src="{{ SITEURL }}/theme/images/img3.jpg" />
    </div>
    <div class="col-sm-6 col-md-6">
      <h2>Data Analytics</h2>
      <p><strong>Subtitle</strong></p>
      <p>body</p>
    </div>
  </div>
  <div class="row d-flex">
    <div class="order-sm-2 col-sm-6 col-md-6">
      <!--   HERE   -->
      <img src="{{ SITEURL }}/theme/images/img2.jpg" />
    </div>
    <div class="order-sm-1 col-sm-6 col-md-6">
      <!--   HERE   -->
      <h2>Data Visualisation</h2>
      <p><strong>Subtitle</strong></p>
      <p>body</p>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-sm-6 col-md-6">
      <!--   HERE   -->
      <img src="{{ SITEURL }}/theme/images/img2.jpg" />
    </div>
    <div class="col-sm-6 col-md-6">
      <!--   HERE   -->
      <h2>Data Automation</h2>
      <p><strong>Subtitle</strong></p>
      <p>body</p>
    </div>
  </div>
  <div class="row d-flex">
    <div class="order-sm-2 col-sm-6 col-md-6">
      <!--   HERE   -->
      <img src="{{ SITEURL }}/theme/images/img2.jpg" />
    </div>
    <div class="order-sm-1 col-sm-6 col-md-6">
      <!--   HERE   -->
      <h2>Software Development (Web & Desktop)</h2>
      <p><strong>Subtitle</strong></p>
      <p>body</p>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-sm-6 col-md-6">
      <!--   HERE   -->
      <img src="{{ SITEURL }}/theme/images/img2.jpg" />
    </div>
    <div class="col-sm-6 col-md-6">
      <!--   HERE   -->
      <h2>Solution Architecture</h2>
      <p><strong>Subtitle</strong></p>
      <p>body</p>
    </div>
  </div>
  <div class="row d-flex">
    <div class="order-sm-2 col-sm-6 col-md-6">
      <!--   HERE   -->
      <img src="{{ SITEURL }}/theme/images/img2.jpg" />
    </div>
    <div class="order-sm-1 col-sm-6 col-md-6">
      <!--   HERE   -->
      <h2>Personalized Education Courses</h2>
      <p><strong>Subtitle</strong></p>
      <p>body</p>
    </div>
  </div>
</div>

<div class="top-div"></div>
<div class="container-fluid services-div">
  <div class="container">
    <div class="row justify-content-center">
      <h2>Feedback</h2>
    </div>
    <br /><br />
    <div id="carouselContent" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active text-center p-4">
          <p>"First quote goes here."</p>
          <p>
            <font
              style="color:#fcd000; font-size:14px; text-transform: uppercase; font-weight: bold; font-style:italic"
              >First Last</font
            >
          </p>
        </div>
        <div class="carousel-item text-center p-4">
          <p>"Second quote goes here."</p>
          <p>
            <font
              style="color:#fcd000; font-size:14px; text-transform: uppercase; font-weight: bold; font-style:italic"
              >First Last</font
            >
          </p>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselContent"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselContent"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="bottom-div"></div>

<!-- 
<div class="container-fluid services-div">
  <div class="container">
    <div class="row justify-content-center">
      <h2>Blog Roll goes here</h2>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-3 m-3 service-btn">
        <p>I need help</p>
        <h4>Analysing Data</h4>
      </div>
      <div class="col-md-3 m-3 service-btn">
        <p>I need help</p>
        <h4>Visualising Data</h4>
      </div>
      <div class="col-md-3 m-3 service-btn">
        <p>I want to</p>
        <h4>Automate Processes</h4>
      </div>
      <div class="col-md-3 m-3 service-btn">
        <p>I need help with</p>
        <h4>Software Development</h4>
      </div>
      <div class="col-md-3 m-3 service-btn">
        <p>I need help with</p>
        <h4>Solution Architecture</h4>
      </div>
      <div class="col-md-3 m-3 service-btn">
        <p>I want a</p>
        <h4>Personalized Education Course</h4>
      </div>
    </div>
  </div>
</div> -->

<script src="{{ SITEURL }}/theme/js/typeit.min.js"></script>
<script>
  function jumboText() {
    document.getElementById("jumbo-text").innerText = "";
    new TypeIt("#jumbo-text", {
      speed: 50,
      startDelay: 900,
      // loop: true,
      waitUntilVisible: true
    })
      .type("Cyberlytica")
      .pause(500)
      .options({ speed: 100, deleteSpeed: 75 })
      .delete(50)
      .type("Freelance Digital Services in Newcastle, Australia")
      .pause(2000)
      .go();
  }

  function type_writer() {
    document.getElementById("services-text").innerText = "";
    new TypeIt("#services-text", {
      strings: [
        "Data Analytics",
        "Data Visualisation",
        "Data Automation",
        "Software Development (Web & Desktop)",
        "Solution Architecture",
        "Personalized Education Courses"
      ],
      speed: 50,
      startDelay: 900,
      // loop: true,
      waitUntilVisible: true
    }).go();
    // .type('Data Analytics')
    // .pause(1000)
    // .options({speed: 100, deleteSpeed: 75})
    // .delete(9)
    // .type('Visualization')
    // .pause(1000)
    // .delete(13)
    // .type('Automation')
    // .pause(1000)
    // .go();
  }
  // When the DOM is ready, run this function

  // jumboText();
  type_writer();
</script>
{% endblock %}
