{% extends "base.html" %}

{% block content %}

<div id="particles-js"></div>

<div class="jumbotron text-center">
    <h1 class="display-4" id="jumbo-text">
      Freelance Digital Services
        <!-- <span style="display:inline;position:relative;font:inherit;color:inherit;line-height:inherit;" class="ti-wrapper"> -->
          <!-- <span style="display:inline;position:relative;font:inherit;color:inherit;line-height:inherit;" class="ti-container">Software Company in Newcastle Australia</span> -->
        <!-- <span style="display:inline;position:relative;font:inherit;color:inherit;line-height:inherit;left: -.25ch;" class="ti-cursor">|</span></span> -->
    </h1>
    <h4>We specialise in:</h4>
    <!-- <h2> Our Services</h2> -->
    <p class="type-services" id="services-text">alt_services</p>
    <a class="btn btn-lg contact" href="/contact" role="button" id="contact-btn">Contact Us</a>
</div>

<div class="top-div"></div>
<div class="container-fluid services-div">
  <div class="container">
    <div class="row justify-content-center">
      <h2>How can we help?</h2>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-3 m-3 service-btn">
        <p>I need help</p>
        <h3>Analysing Data</h3>
      </div>
      <div class="col-md-3 m-3 service-btn">
        <p>I need help</p>
        <h3>Visualising Data</h3>
      </div>
      <div class="col-md-3 m-3 service-btn">
        <p>I want to</p>
        <h3>Automate Processes</h3>
      </div>
      <div class="col-md-3 m-3 service-btn">
        <p>I need help with</p>
        <h3>Software Development</h3>
      </div>
      <div class="col-md-3 m-3 service-btn">
        <p>I need help with</p>
        <h3>Solution Architecture</h3>
      </div>
      <div class="col-md-3 m-3 service-btn">
        <p>I want a</p>
        <h3>Personalized Education Course</h3>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid text-center services-div">
    <h1>How can we help you?</h1>
    <div class="row">
        <div class="col-md-4 service-btn">
            <p>I need help</p>
            <h3>Analysing Data</h3>
        </div>
        <div class="col-md-4 service-btn">
          <p>I need help</p>
          <h3>Visualising Data</h3>
      </div>
      <div class="col-md-4 service-btn">
        <p>I want to</p>
        <h3>Automate Processes</h3>
      </div>
    </div>
</div> -->
<div class="bottom-div"></div>

<!-- <div class="container-fluid page-div">
  <div class="text-center services-div">
    <h1>Our Services</h1>
    <p class="type-services" id="services-text">alt_services</p>
  </div>
</div> -->


<script src="{{ SITEURL }}/theme/js/typeit.min.js"></script>
<script>
  function jumboText() {
    
    document.getElementById("jumbo-text").innerText = "";
    new TypeIt('#jumbo-text', {
      speed: 50,
      startDelay: 900,
      // loop: true,
      waitUntilVisible: true,
    })
    .type('Cyberlytica')
    .pause(500)
    .options({speed: 100, deleteSpeed: 75})
    .delete(50)
    .type('Freelance Digital Services in Newcastle, Australia')
    .pause(2000)
    .go();
  }

  function type_writer() {
    document.getElementById("services-text").innerText = "";
    new TypeIt('#services-text', {
      strings: ['Data Analytics','Data Visualisation', 'Data Automation','Software Development (Web & Desktop)','Solution Architecture','Personalized Education Courses'],
      speed: 50,
      startDelay:900,
      // loop: true,
      waitUntilVisible: true,
    }).go();
    // .type('Data Analytics')
    // .pause(1000)
    // .options({speed: 100, deleteSpeed: 75})
    // .delete(9)
    // .type('Visualization')
    // .pause(1000)
    // .delete(13)
    // .type('Automation')
    // .pause(1000)
    // .go();
  }

  // jumboText();
  type_writer();
</script>
{% endblock %}
