{% extends "base.html" %}

{% block content %}

<div id="particles-js"></div>

<div class="jumbotron text-center">
    <h1 class="display-4" id="jumbo-text" data-typeit-id="ab9onq44u5o">
        <span style="display:inline;position:relative;font:inherit;color:inherit;line-height:inherit;" class="ti-wrapper">
          <span style="display:inline;position:relative;font:inherit;color:inherit;line-height:inherit;" class="ti-container">Software Company in Newcastle Australia</span>
        <span style="display:inline;position:relative;font:inherit;color:inherit;line-height:inherit;left: -.25ch;" class="ti-cursor">|</span></span>
        </h1>
    
    <a class="btn btn-lg" href="/install/win/" role="button" id="get-started-btn">Get Started</a>
</div>

{% endblock %}
