<nav class="navbar navbar-expand-lg navbar-light">
    <!-- <a class="navbar-brand" href="/">
        <img src="/assets/images/espanso.svg" class="logo-img">
    </a> -->
    <h1><a href="{{ SITEURL }}">{{ SITETITLE }}</a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% for name, link in LINKS %}
            <li>
                <a class="nav-link" target="{{ get_target(link) }}" href="{{ link }}" >{{ name }}</a>
            </li>
            {% endfor %}
        <li class="nav-item">
            <a href="mailto:jackmckew2@gmail.com" class="btn btn-lg contact">Contact Us <i class="fas fa-envelope"></i></a>
        </li>
        </ul>
    </div>
</nav>