.contact {
    background-color: var(--main-bg-color);
    border: 0;
    font-weight: 700;
    color: white !important;
    padding: 3px 20px 3px 20px !important;
    margin: 3px 0 0 10px;

    @media screen and (max-width: $screen-tablet) {
        margin: 3px 0 0 0;
    }
}

.navbar .btn {
    background-color: var(--main-bg-color);
    border: 0;
    font-weight: 700;
    color: white !important;
    padding: 3px 20px 3px 20px !important;
    margin: 3px 0 0 10px;

    @media screen and (max-width: $screen-tablet) {
        margin: 3px 0 0 0;
    }
}

.service-btn {
    text-align: center;
    /* padding: 25px; */
    /* text-decoration: none; */
    /* display: block; */
    border: 4px solid #fff;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.2s all ease-in;
}

.service-btn:hover {
    cursor: pointer;
    background-color: white;
    color: var(--main-bg-color);
}

.phonelink{
    position: fixed; /* Lock location always on the scree */
    bottom: 0; /* Set to the bottom */
    right: 0; /* Set to the right */
    margin: 30px; /* Add space around background */
}
.phoneicon{
    width: 40px; /* Set width of icon */
    height: 40px; /* Set height of icon */
}
@media screen and (max-width: 480px){
    .mbscreenphone{
        display: block; /* On small screens make phone icon appear */
    }
}
@media screen and (min-width: 481px){
    .mbscreenphone{
        display: none; /* On large screens make phone icon disappear */
    }
}