.page-div {
    position: relative;
    background: url("http://localhost:8000/theme/images/background_up.svg") top center no-repeat,
                url("http://localhost:8000/theme/images/background_down.svg") bottom center no-repeat;
    padding: 120px 0px 90px 0px;
    color: white;

    @media screen and (max-width: $screen-tablet) {
        padding: 70px 15px 40px 15px;
    }

    @media screen and (max-width: $screen-phone) {
        margin: 60px 0 15px 0;
        /* font-size: 2.5em; */
        /* height: 150px; */
    }
}

.top-div {
    position: relative;
    background: url("https://vibrant-mayer-d513c6.netlify.com/theme/images/background_up.svg") top center no-repeat;
    background-size: cover;
    color: white;
    padding: 120px 0px 0px 0px;
}

.bottom-div {
    position: relative;
    background: url("https://vibrant-mayer-d513c6.netlify.com/theme/images/background_down.svg") bottom center no-repeat;
    background-size: cover;
    color: white;
    padding: 120px 0px 0px 0px;
}

.services-div {
    background-color: var(--main-bg-color);
    color: white;
}

.type-services {
    margin-bottom: auto;
}


/* 
.hiw {
    background-image: url("/assets/images/background_up.svg"), url("/assets/images/background_down.svg");
    background-position: center top, center bottom;
    background-size: cover, cover;
    background-repeat:no-repeat, no-repeat;
    padding: 80px 0px 40px 0px;
    color: white;

    @media screen and (max-width: $screen-tablet) {
        padding: 70px 15px 40px 15px;
    }

    .teaser-text {
        font-size:1.4em;
    }

    .text-example {
        font-size: 2em;
        background-color: white;
        color: $blackColor;
        max-width: 500px;
        padding: 15px 5px 15px 5px;
        border-radius: 5px;
        margin: auto;
    }
} */