.pillar-symbol {
    border-top: 3px solid white;
    display: block;
    text-align: center; /* horizontal centering */
    height: 5px; /* gap between the lines */
    border-width: 2px 0; /* top and bottom borders */
    border-style: solid;
    border-color: white;
    margin: 50px 0; /* 20px space above/below, 10px left/right */
    overflow: visible;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

.pillar-symbol::before {
    color: white;
    display: inline; /* for vertical centering and background knockout */
    background-color: var(--main-bg-color); /* same as background color */
    padding: 0 0.5em; /* size of background color knockout */
    background-clip: padding-box;
    font-size: 30px;
    padding: 12px;
    position: relative;
    top: -15px;
}