.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
  display:block;
}

.carousel-control-prev-icon
{
  fill: var(--main-bg-color);
}

.carousel-item
{
  width: 75%;
  margin-left: 15%;
}